[tool.ruff]
line-length = 120
target-version = "py312"

[tool.ruff.lint]
# 最初は無難に「よく効く」ルールだけ
select = ["E", "F", "I"]

[tool.black]
line-length = 120
target-version = ["py312"]

[tool.mypy]
python_version = "3.12"
ignore_missing_imports = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_return_any = true
disallow_untyped_defs = false
